//colors
$color-navyblue : #18206f;
$color-cadetblue : cadetblue;
$color-stromboli : #346751;
$color-mineshaft :#333333;
$color-alto : #DEDEDE;
$color-shark: #282c34;
$color-charade: #292C35;
$color-chatelle: #B9B4C7;
$color-buttercup : #f39c12;
$color-buttercup-light : #F1C40F;
$color-bittersweet : #FF6969;
$color-stilleto : #A13333;
$color-prussian-blue: #00224D;
$color-dark: rgb(51, 51, 51);
$color-pickled-bluewood: #344C64;
$color-malibu :#5BBCFF;
$color-cerulean-blue: #2F58CD;
$color-teal: #069494;

//breakpoints
$breakpoints: ( mobile-landscape: ("(min-width: 568px) and (max-width: 991px) and (orientation: landscape)"), mobile-p: (max-width:480px), mobile-small: (max-width: 767px, ), mobile: (max-width: 991px, ), mobile-smallest: (max-width: 320px, ), mobile-smaller: ("(min-width: 321px) and (max-width: 374px)"), tablet-m:( max-width:767px), medium-device: (min-width: 768px), desktop: (min-width: 992px, ), desktop-large: (min-width: 1200px, ), desktop-xlarge: (min-width: 1400px, ), desktop-fhd: (min-width: 1900px, ), ipad-resolution: ("(min-width: 992px) and (max-width: 1024px)"));